/*
 *******************
 *  MEDIA QUERIES  *
 *******************
*/

/* EXTRA LARGE DISPLAY */

@media only screen and (max-width: 2400px) and (min-width: 1500px) {
  .hero__header {
    padding: 1em 1em 1em 0;
    width: 50%;
  }
  .how-it-works {
    &__img {
      width: initial !important;
    }
  }
}

/* MEDIA FOR NOTEBOOK DISPLAY */

@media only screen and (max-width: 1200px) and (min-width: 300px) {
  .hero__img {
    height: 350px;
  }

  .pricing {
    .grow-3 {
      width: 100%;
      .card {
        width: 100%;
      }
    }
  }

  .dialog {
    &__fullscreen {
      .dialog__close {
        padding-right: 0;
      }
      .grow-6 + .grow-6 {
        padding-left: 0;
      }
    }
  }
}

/* MEDIA FOR TABLET DISPLAY */

@media only screen and (max-width: 992px) and (min-width: 300px) {
  .button--large {
    min-width: 250px !important;
  }
  .dialog {
    &__fullscreen {
      .dialog__close {
        padding-right: 0;
      }
      .grow-6 + .grow-6 {
        padding-left: 0;
      }
    }
  }
}

/* MEDIA FOR MEDIUM MOBILE DISPLAY */

@media only screen and (max-width: 768px) and (min-width: 300px) {
  .schedule {
    &__img {
      margin-top: 4em;
      background-image: none;
    }
  }
  .contact {
    &__wrap {
      width: 100%;
    }
  }
  .about {
    &__text {
      padding: 1em;
    }
  }

  .pricing__detail {
    margin-top: 40px;
  }

  .dialog {
    &__fullscreen {
      padding-top: 100px;

      .grow-6 {
        width: 100% !important;
      }
    }
    &__detail {
      margin-top: 40px !important;
    }
    &__close {
      padding: 0 !important;
    }
  }
  .pricing + .pricing {
    margin-top: 40px;
  }
  .how-it-works {
    &__img {
      width: initial !important;
    }
  }
  .why-it-works {
    &__img {
      width: 100% !important;
      height: initial !important;
      margin-top: 100px;
    }
  }
  .button__sign-up {
    margin: 0;
    border-radius: 45px;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    z-index: 99;
    background: #fff !important;
  }
  .mobile-menu__wrapper {
    padding-top: 100px;
    font-size: 24px !important;
    display: none;
    li + li {
      margin-top: 55px;
    }
  }
  .checkbox[type="checkbox"]:checked ~ .mobile-menu__wrapper {
    display: block !important;
  }
  .form__input.flex-row .flex {
    flex-direction: row !important;
  }
  .button--large {
    margin-top: 24px;
  }
  .footer__group-links .grow-4:nth-child(1) .footer__links {
    display: flex;
    justify-content: space-between;
    li {
      margin: 0;
    }
    margin-bottom: 5em;
  }

  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header,
  .external__links {
    flex-direction: row !important;
    height: 35px;
  }
  .footer__group-links {
    flex-direction: row;
    flex-wrap: wrap;
    .grow-4:nth-child(1) {
      margin-top: 48px;
      width: 100%;
      li {
        width: 50%;
      }
    }
  }

  .hide-tablet {
    display: none;
  }
  .show-tablet {
    margin-left: auto;
    display: block;
  }
  .container {
    padding-right: 16px; /* 3 */
    padding-left: 16px; /* 3 */
  }

  h1 {
    font-size: 48px !important;
  }
  h2 {
    font-size: 36px !important;
  }
}

/* MEDIA FOR LITTLE MOBILE DISPLAY */

@media only screen and (max-width: 480px) and (min-width: 300px) {
  h1 {
    font-size: 36px !important;
  }
  h2 {
    font-size: 30px !important;
  }
  .card__price {
    padding: 0.25em;
  }
  .container {
    padding-right: 8px;
    padding-left: 8px;
  }
  section:not(.hero) {
    padding-left: 8px;
    padding-right: 8px;
  }
  .why-it-works__img,
  .about__img {
    width: 100%;
    height: initial !important;
    margin-top: 2em;
  }
  .grow-3 .card {
    margin: 0.25em;
  }
  .triangle--white::after {
    border-color: #fff transparent transparent transparent;
    bottom: initial !important;
    top: -50px !important;
    left: 50% !important;
    transform: translateX(-50%);
  }

  .pivoting-services {
    background-color: #f0f6f6;
    &:after {
      left: 50% !important;
      transform: translateX(-50%) !important;
      top: 0 !important;
    }
  }
}

@media only screen and (min-width: 769px) {
  .show-tablet {
    display: none;
  }
}
