body {
  background: red !important;
}

.is--hidden {
  display: none;
}
.form select {
  width: 100% !important;
}

.button {
  font-weight: 600 !important;
}

#how-it-works__img {
  min-height: 350px;
  background-image: url("images/How It Works.png");
  background-repeat: no-repeat;
  display: block;
  margin: auto;
  background-position: center;
  background-size: contain;
}

@media screen and (max-width: 769px) {
  #placeholders {
    margin-top: 100px;
  }
  #how-it-works__img {
    background-image: url("images/How It Works Mobile.png");
    width: 100%;
    min-height: 800px;
  }
  .why-it-works__img {
    margin-top: 3em;
  }
  .hero__img {
    width: 400px;
  }
  .dialog {
    margin: 0 !important;
  }
}

@media screen and (max-height: 500px) {
  .dialog {
    height: 100%;
    overflow: auto;
    min-height: initial;
  }
}

@media screen and (max-height: 300px) {
  .dialog {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    min-height: initial !important;
  }
}

@media screen and (max-width: 600px) {
  .dialog {
    width: 100% !important;
  }
}

.mobile-menu__wrapper {
  height: 100%;
  overflow: auto;
}

a {
  cursor: pointer;
}

.footer__content a {
  color: #fff;
}
.teal--text {
  color: #16abbc !important;
}
.grey--text {
  color: #a4a4a4 !important;
}

.c1 .lst-kix_vqx04m6c694y-7 > li:before {
  content: "\0025cb  ";
}
.c1 ul.lst-kix_gvxbh8f0lla5-8 {
  list-style-type: none;
}
.c1 .lst-kix_xad9si5xmeus-0 > li:before {
  content: "" counter(lst-ctn-kix_xad9si5xmeus-0, decimal) ". ";
}
.c1 .lst-kix_xad9si5xmeus-1 > li:before {
  content: "\0025cb  ";
}
.c1 .lst-kix_vqx04m6c694y-6 > li:before {
  content: "\0025cf  ";
}
.c1 .lst-kix_vqx04m6c694y-8 > li:before {
  content: "\0025a0  ";
}
.c1 ul.lst-kix_gvxbh8f0lla5-6 {
  list-style-type: none;
}
.c1 ul.lst-kix_gvxbh8f0lla5-7 {
  list-style-type: none;
}
.c1 .lst-kix_vqx04m6c694y-5 > li:before {
  content: "\0025a0  ";
}
.c1 ul.lst-kix_gvxbh8f0lla5-4 {
  list-style-type: none;
}
.c1 ul.lst-kix_gvxbh8f0lla5-5 {
  list-style-type: none;
}
.c1 .lst-kix_xad9si5xmeus-3 > li:before {
  content: "\0025cf  ";
}
.c1 ul.lst-kix_gvxbh8f0lla5-2 {
  list-style-type: none;
}
.c1 ul.lst-kix_gvxbh8f0lla5-3 {
  list-style-type: none;
}
.c1 ul.lst-kix_gvxbh8f0lla5-0 {
  list-style-type: none;
}
.c1 ul.lst-kix_gvxbh8f0lla5-1 {
  list-style-type: none;
}
.c1 .lst-kix_xad9si5xmeus-4 > li:before {
  content: "\0025cb  ";
}
.c1 .lst-kix_xad9si5xmeus-5 > li:before {
  content: "\0025a0  ";
}
.c1 ul.lst-kix_tgelvptxipr2-1 {
  list-style-type: none;
}
.c1 ul.lst-kix_tgelvptxipr2-0 {
  list-style-type: none;
}
.c1 .lst-kix_xad9si5xmeus-6 > li:before {
  content: "\0025cf  ";
}
.c1 .lst-kix_xad9si5xmeus-8 > li:before {
  content: "\0025a0  ";
}
.c1 .lst-kix_vqx04m6c694y-0 > li:before {
  content: "\0025cf  ";
}
.c1 .lst-kix_vqx04m6c694y-1 > li:before {
  content: "\0025cb  ";
}
.c1 .lst-kix_xad9si5xmeus-7 > li:before {
  content: "\0025cb  ";
}
.c1 .lst-kix_vqx04m6c694y-3 > li:before {
  content: "\0025cf  ";
}
.c1 .lst-kix_vqx04m6c694y-2 > li:before {
  content: "\0025a0  ";
}
.c1 .lst-kix_vqx04m6c694y-4 > li:before {
  content: "\0025cb  ";
}
.c1 ol.lst-kix_xad9si5xmeus-0 {
  list-style-type: none;
}
.c1 ul.lst-kix_vqx04m6c694y-1 {
  list-style-type: none;
}
.c1 ul.lst-kix_tgelvptxipr2-5 {
  list-style-type: none;
}
.c1 ul.lst-kix_vqx04m6c694y-0 {
  list-style-type: none;
}
.c1 ul.lst-kix_tgelvptxipr2-4 {
  list-style-type: none;
}
.c1 ul.lst-kix_vqx04m6c694y-3 {
  list-style-type: none;
}
.c1 ul.lst-kix_tgelvptxipr2-3 {
  list-style-type: none;
}
.c1 ul.lst-kix_vqx04m6c694y-2 {
  list-style-type: none;
}
.c1 .lst-kix_pyo1rfw02kkp-1 > li:before {
  content: "\0025cb  ";
}
.c1 .lst-kix_pyo1rfw02kkp-3 > li:before {
  content: "\0025cf  ";
}
.c1 ul.lst-kix_tgelvptxipr2-2 {
  list-style-type: none;
}
.c1 ul.lst-kix_vqx04m6c694y-5 {
  list-style-type: none;
}
.c1 ul.lst-kix_vqx04m6c694y-4 {
  list-style-type: none;
}
.c1 ul.lst-kix_tgelvptxipr2-8 {
  list-style-type: none;
}
.c1 ul.lst-kix_vqx04m6c694y-7 {
  list-style-type: none;
}
.c1 ul.lst-kix_tgelvptxipr2-7 {
  list-style-type: none;
}
.c1 .lst-kix_tgelvptxipr2-8 > li:before {
  content: "\0025a0  ";
}
.c1 ul.lst-kix_vqx04m6c694y-6 {
  list-style-type: none;
}
.c1 .lst-kix_pyo1rfw02kkp-0 > li:before {
  content: "\0025cf  ";
}
.c1 .lst-kix_pyo1rfw02kkp-4 > li:before {
  content: "\0025cb  ";
}
.c1 ul.lst-kix_tgelvptxipr2-6 {
  list-style-type: none;
}
.c1 ul.lst-kix_vqx04m6c694y-8 {
  list-style-type: none;
}
.c1 .lst-kix_xad9si5xmeus-2 > li:before {
  content: "\0025a0  ";
}
.c1 .lst-kix_pyo1rfw02kkp-2 > li:before {
  content: "\0025a0  ";
}
.c1 .lst-kix_gvxbh8f0lla5-8 > li:before {
  content: "\0025a0  ";
}
.c1 ul.lst-kix_pyo1rfw02kkp-6 {
  list-style-type: none;
}
.c1 .lst-kix_tgelvptxipr2-3 > li:before {
  content: "\0025cf  ";
}
.c1 ul.lst-kix_pyo1rfw02kkp-5 {
  list-style-type: none;
}
.c1 ul.lst-kix_xad9si5xmeus-1 {
  list-style-type: none;
}
.c1 .lst-kix_gvxbh8f0lla5-7 > li:before {
  content: "\0025cb  ";
}
.c1 ul.lst-kix_pyo1rfw02kkp-4 {
  list-style-type: none;
}
.c1 ul.lst-kix_xad9si5xmeus-2 {
  list-style-type: none;
}
.c1 ul.lst-kix_pyo1rfw02kkp-3 {
  list-style-type: none;
}
.c1 ul.lst-kix_xad9si5xmeus-3 {
  list-style-type: none;
}
.c1 .lst-kix_gvxbh8f0lla5-6 > li:before {
  content: "\0025cf  ";
}
.c1 ul.lst-kix_pyo1rfw02kkp-8 {
  list-style-type: none;
}
.c1 .lst-kix_tgelvptxipr2-0 > li:before {
  content: "\0025cf  ";
}
.c1 .lst-kix_tgelvptxipr2-4 > li:before {
  content: "\0025cb  ";
}
.c1 ul.lst-kix_pyo1rfw02kkp-7 {
  list-style-type: none;
}
.c1 .lst-kix_pyo1rfw02kkp-8 > li:before {
  content: "\0025a0  ";
}
.c1 .lst-kix_gvxbh8f0lla5-4 > li:before {
  content: "\0025cb  ";
}
.c1 .lst-kix_tgelvptxipr2-7 > li:before {
  content: "\0025cb  ";
}
.c1 .lst-kix_gvxbh8f0lla5-3 > li:before {
  content: "\0025cf  ";
}
.c1 .lst-kix_gvxbh8f0lla5-5 > li:before {
  content: "\0025a0  ";
}
.c1 .lst-kix_pyo1rfw02kkp-5 > li:before {
  content: "\0025a0  ";
}
.c1 .lst-kix_pyo1rfw02kkp-7 > li:before {
  content: "\0025cb  ";
}
.c1 ul.lst-kix_pyo1rfw02kkp-2 {
  list-style-type: none;
}
.c1 .lst-kix_tgelvptxipr2-5 > li:before {
  content: "\0025a0  ";
}
.c1 ul.lst-kix_pyo1rfw02kkp-1 {
  list-style-type: none;
}
.c1 ul.lst-kix_pyo1rfw02kkp-0 {
  list-style-type: none;
}
.c1 .lst-kix_tgelvptxipr2-6 > li:before {
  content: "\0025cf  ";
}
.c1 .lst-kix_xad9si5xmeus-0 > li {
  counter-increment: lst-ctn-kix_xad9si5xmeus-0;
}
.c1 .lst-kix_pyo1rfw02kkp-6 > li:before {
  content: "\0025cf  ";
}
.c1 .lst-kix_gvxbh8f0lla5-0 > li:before {
  content: "\0025cf  ";
}
.c1 .lst-kix_gvxbh8f0lla5-1 > li:before {
  content: "\0025cb  ";
}
.c1 .lst-kix_gvxbh8f0lla5-2 > li:before {
  content: "\0025a0  ";
}
.c1 ol.lst-kix_xad9si5xmeus-0.start {
  counter-reset: lst-ctn-kix_xad9si5xmeus-0 0;
}
.c1 ul.lst-kix_xad9si5xmeus-8 {
  list-style-type: none;
}
.c1 .lst-kix_tgelvptxipr2-1 > li:before {
  content: "\0025cb  ";
}
.c1 ul.lst-kix_xad9si5xmeus-4 {
  list-style-type: none;
}
.c1 ul.lst-kix_xad9si5xmeus-5 {
  list-style-type: none;
}
.c1 .lst-kix_tgelvptxipr2-2 > li:before {
  content: "\0025a0  ";
}
.c1 ul.lst-kix_xad9si5xmeus-6 {
  list-style-type: none;
}
.c1 ul.lst-kix_xad9si5xmeus-7 {
  list-style-type: none;
}
.c1 ol {
  margin: 0;
  padding: 0;
}
.c1 table td,
.c1 table th {
  padding: 0;
}
.c1 .c0 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c1 .c10 {
  padding-top: 0pt;
  padding-bottom: 3pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c1 .c8 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 24pt;
  font-family: "Arial";
  font-style: normal;
}
.c1 .c7 {
  padding-top: 20pt;
  padding-bottom: 6pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: center;
}
.c1 .c12 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 16pt;
  font-family: "Arial";
  font-style: normal;
}
.c1 .c3 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}
.c1 .c2 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 26pt;
  font-family: "Arial";
  font-style: normal;
}
.c1 .c16 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}
.c1 .c11 {
  padding-top: 18pt;
  padding-bottom: 6pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c1 .c15 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: center;
}
.c1 .c4 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c1 .c6 {
  text-decorationskip-ink: none;
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  text-decoration: underline;
}
.c1 .c1 {
  background-color: #ffffff;
  max-width: 451.3pt;
  padding: 72pt 72pt 72pt 72pt;
}
.c1 .c5 {
  margin-left: 72pt;
  padding-left: 0pt;
}
.c1 .c13 {
  color: inherit;
  text-decoration: inherit;
}
.c1 .c9 {
  padding: 0;
  margin: 0;
}
.c1 .c17 {
  margin-left: 72pt;
}
.c1 .c14 {
  height: 11pt;
}
.c1 .title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c1 .subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c1 li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
.c1 p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
.c1 h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c1 h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c1 h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c1 h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c1 h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c1 h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}
